body{
	background-color: lightblue;
}
ul, ol, h2{
	color: white;
	font-size: 16px;
}
h1{
	text-align: center;
	font-size: 30px;
}
p{
	font-size: 18px;
}
img.displayed{
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}